.promo {
    margin-bottom: 63px;
}
.promo_content {
    background: #f4f6f5;
    border-radius: 5.9rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
}
.content_left__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 125%;
    color: #000;
    max-width: 474px;
    margin-bottom: 49px;
    .highlight {
        position: relative;
    }
    .highlight span{
        position: relative;
        z-index: 1;
    }
    .highlight::before{
        content: "";
        display: block;
        position: absolute;
        top: -12px;
        bottom: -12px;
        left: -20px;
        right: -160px;
        background-color: white;
        transform: rotate(-2deg);
    }
    .highlight--yelow::before{
        background-color: var(--yellow);
        right: -80px;
    }

}

.content_left__text {
    font-size: 32px;
    letter-spacing: -0.05em;
    margin-bottom: 32px;
}
.content_left__bottom{
    display: flex;
    align-items: center;
    column-gap: 34px;
}
.left_bottom__btn {
    padding: 19px 40px;
    color: white;
    border-radius: 7px;
    font-weight: 500;
    font-size: 24px;
    background: #000;
    transition: .3s ease-in-out;
}
.left_bottom__btn:hover{
    background-color: navy;
    transform: scale(1.05); 
}